name: car_plate_detector
description: "License Plate Detection App - Scan and detect vehicle violations using AI."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.4

dependencies:
  flutter:
    sdk: flutter
  image_picker: ^1.0.0
  camera: ^0.10.0
  http: ^1.1.0
  dio: ^5.3.0
  cupertino_icons: ^1.0.2
  intl: ^0.19.0
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
